<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442211260619-sr05aas29ro9rtd361cg8dqln6pcg6iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442211260619-sr05aas29ro9rtd361cg8dqln6pcg6iu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>442211260619-o9kjokfu72nmk4h8uvvcnb29omvcqofq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBl8tniWKvLy15mHK1VuXNKWmhav40xvrw</string>
	<key>GCM_SENDER_ID</key>
	<string>442211260619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canteenapp</string>
	<key>PROJECT_ID</key>
	<string>canteenapp-9ea2e</string>
	<key>STORAGE_BUCKET</key>
	<string>canteenapp-9ea2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442211260619:ios:c9f3dc19cca67f96d5234e</string>
</dict>
</plist>